$grey-1         :#020202;
$grey-2         :#e3e3e3;
$grey-3         :#080808;
$header_bg      :#ececea;
$backgroud-grey :#242222;
$label_red      :#f17c7c;
$label_blue     :#6d99dc;
$label_green    :#54c7ae;
$action_trash   :#d64141;
$icon_blue      :#2a87da;
$comment_blue   :#004b91;
$search_bottom_border           : 1px solid rgba(38, 148, 192, 0.8);
$search_bottom_border_select    : 2px solid rgba(38, 148, 192, 0.8);
